<form [formGroup]="myForm"  class="normal-form" (ngSubmit)="onSubmit(myForm)">
    <mat-grid-list cols = "2" >
        <mat-grid-title>
            <div class ="controles-container">
                <mat-form-field >
                    <h3>Title</h3>
                    
                    <input type="text" formControlName="Title" matInput placeholder="Enter the title here">
                </mat-form-field>
                <br>
                <div class="space-between"></div>
                <mat-form-field>
                    <h3>Description</h3>
                    <input type="text" formControlName="Description" matInput placeholder="Enter the description here">
                    
                </mat-form-field>
            </div>
            <div class = "button-row">
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
        </mat-grid-title>
    </mat-grid-list>
</form>


