.controles-container{
    width: 80%;
    padding: 10%;
}

.space-between {
    padding: 0.2rem;
    margin-bottom: 0.2rem;
}


.normal-form{
    width:500px;
    height: 300px;
    padding: 5;
}

input{
    width:250%;
    }