<form [formGroup]="myForm"  class="normal-form" (ngSubmit)="onSubmit(myForm)">
    <mat-grid-list cols = "2" >
        <mat-grid-title>
            <div class ="controles-container">
                <!--
                <input type="hidden" formControlName="PMId">
                -->
                <mat-form-field>
                    <input type="text" formControlName="Title">
                </mat-form-field>
                <br>
                <div class="space-between"></div>
                <mat-form-field>
                    <input type="text" formControlName="Description">
                    
                </mat-form-field>
            </div>
            <div class = "button-row">
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
        </mat-grid-title>
    </mat-grid-list>
</form>


<!--
    <input formControlName = "description" matInput placeholder="description">
-->